body{
    margin: 0;
}
.cal{
    width: 400px;
    height: 500px;
    background:lightgray;
    margin-top: 30px;
    margin-left: 500px;
    border: 2px solid black;
}
#screen{
    width:70%;
    margin-left: 40px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 55px;
    height: 45px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.operatorbtn{
    width: 55px;
    height: 45px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color:lightgreen;

}
.clearbtn{
    width: 55px;
    height: 45px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background-color: lightcoral;
}
.equalbtn{
    width: 55px;
    height: 45px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background-color: lightcoral;

}
@media screen and (max-width:420px) {
    .main-body{
        width: 71%;
    }
    .cal{
        width: 148%;
        margin-left: -27px;
    }
}